<div class="bgded overlay" style="background-image:url('/img/fondosc.jpeg');">
    <div id="breadcrumb" class="hoc clear">
        <!-- ################################################################################################ -->
        <ul>
            <li><a href="/links/clientes"> Ir a clientes</a></li>
            <li><a href="/cuotas/lista"> Ir a cuotas</a></li>
            <li><a href="/pagos">Ir a Pagos</a></li>
            <li><a href="/pagos/pendientes">Aprobaciones de pagos</a></li>
            <li><a href="aprobacion de legajos">aprobacion de legajos</a></li>
            <li><a href="aprobacion de legajos">aprobacion CBU</a></li>
            <li><a href="/aprobaciones/cbu">aprobacion CBU</a></li>
            <li><a href="/cuotas/agregariccgrals"> Agregar ICC</a></li>
        </ul>
    </div>

</div>
NIVEL 3
  <li class="block clear"><a href="#"><i class="fas fa-map-marker-alt"></i></a> <span><strong>Es usuario:</strong>
  213
       {{#each usuarios }}
        [ SI ] </span></li>
        <span><strong>Legajo habilitado: </strong>  [ {{habilitado}} ]

        {{else}}
        [ No]</a></span></li>
        {{/each}}




{{#each habilitar}}
<h4></h4><a href="/nivel3/deshabilitarusuario/{{cuil_cuit}}"><i class="fas fa-map-marker-alt"></i>Deshabilitar</a>
{{cuil_cuit}}
{{/each}}
{{#each deshabilitar}}
<h4></h4><a href="/nivel3/habilitarusuario/{{cuil_cuit}}"><i class="fas fa-map-marker-alt"></i>Habilitar</a>
{{/each}}

{{#each links}}

<div class="wrapper row2">
  <a class="btn" href="javascript:history.back()">Volver</a>
  <a class="btn" href="links/clientes">Busqueda de clientes</a>
  <a href="/links/delete/{{id}}" class=" btn btn-danger"> Borrar cliente </a>
  <section id="ctdetails" class="hoc container clear"> 
    <!-- ################################################################################################ -->
    <div class="sectiontitle">
      <p class="nospace font-xs">Datos personales</p>
      <h6 class="heading font-x2">{{Nombre}}</h6>
      <p>Ingresos declarados: {{ingresos}}</p>
       
    </div>
    <figure class="one_half first">
      <ul class="nospace clear">
        <li class="block clear"><a href="#"><i class="fas fa-phone"></i></a> <span><strong>Telefono de contacto</strong>[ {{telefono}}  ]<a href="#">Editar</a></span></li>
        <li class="block clear"><a href="#"><i class="fas fa-envelope"></i></a> <span><strong>Email</strong> [ {{email}}  ]<a href="#">Editar</a></span></li>
        <li class="block clear"><a href="#"><i class="fas fa-map-marker-alt"></i></a> <span><strong>Direccion</strong>[ {{email}}  ] <a href="#">Editar</a></span></li>
      
      </ul>
    </figure>
    <article class="one_half">
      <h6 class="heading">Descripcion cond_de_venta</h6>
      <p class="nospace btmspace-15">{{descripcion_cond_de_venta}}</p> <br> <br>
     <h6 class="heading">Datos adicionales </h6>
      <p class="nospace btmspace-15">{{observaciones}}</p>
    </article>
     <a class="btn" href="/cuotas/quelote/{{cuil_cuit}}">Cuotas</a>
     <a class="btn" href="/cuotas/lotes/{{cuil_cuit}}">Lotes</a>
     <a class="btn" href="/links/clientes">Pagos</a>
     <a class="btn" href="/constancias/lista/{{cuil_cuit}}">Ver constancias</a>
     <br>
     <a class="btn" href="/links/agregaringreso/{{cuil_cuit}}" >Determinar Ingreso declarado</a>
     <a href="/chats/conversacion/{{cuil_cuit}}" class=" btn btn-danger"> Mensajes</a>

    <!-- ################################################################################################ -->
  </section>
</div>

{{/each}}
