<div class="submenu">
    <div >   
        <div class=>
            <div class="card text-center">
                <div>
                   

                    <div>
                    <a href="/links/clientes" class="btn btn-primary m-4">
                        Ve a clientes
                    </a>
                    <a href="/cuotas" class="btn btn-primary m-4">
                        Ve a cuotas
                    </a>
                    <a href="/pagos" class="btn btn-success m-4">
                        pagos 
                    </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div><br>
 <h4>Pagos</h4>
<a href="/pagos/realizar" class=" btn btn-primary"> Añadir</a></td>
<a href="/pagos/pendientes" class=" btn btn-primary"> aprobaciones</a></td>

<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Monto</th>
      <th scope="col">cuil_cuit Cliente</th>
       <th scope="col">Medio</th>
       <th scope="col">Estado</th>
     
    </tr>
  </thead>
  <tbody>
       
    <tr>
        {{#each pagos}}
      <th scope="row">{{id}}</th>
      <td>{{monto}}</td>
      <td>{{cuil_cuit}}</td>
      <td>{{medio}}</td>
      <td> <div class="badge badge-primary text-wrap" >{{estado}}</div></td>
 
      
  
    </tr>   
    {{else}}
        <div class="col-md-4 mx-auto">
            <div class="card card-body text-center">
                <p> No hay pagos actualmente </p>
            </div>
        </div>
   

        {{/each }}
  </tbody>
</table>
