  <div class="container p-4">
        <div class="card-header">
						<h3>  Añadir automaticamente</h3>
                        <h3> Zona: {{zona}} Fraccion: {{fraccion}} Manzana: {{manzana}} Lote: {{lote}} </h3>
                        <h4>Cuil/cuit: {{cuil_cuit}}</h4>
					</div>
                    t
        <div class="row">
            <div class="col-md-4 ">
                <div class="card mx-4 x-auto ">
                    <div class="card-body">
                        <form action="/cuotas/addaut" method="POST">
                            <div class="oculto">
                               
                                <input type="float"value = "{{cuil_cuit}}" name="cuil_cuit" class="form-control"
                                    placeholder="cuil_cuit cliente">
                            </div>
                            <div class="form-group">
                                <label for="">Mes inicio de plan</label>
                                <input type="float" class="form-control" name="mes" placeholder="Mes"
                                    > 
                                     <input type="integer" class="form-control" name="anio" placeholder="Año"
                                    >
                            </div>
                             <div class="form-group">
                                 <label for="">Valor del terreno</label>
                                 <p style="color: brown;">agregar valor del anticipo</p>
                                <input type="float" class="form-control" id="monto" name="monto_total" placeholder="monto_total"
                                    > 

                            </div>
                            <div class="form-group">
                                 <label for="">Cantidad Cuotas</label>
                                <input type="float" id="cantidad_cuotas" name="cantidad_cuotas" class="form-control"
                                    placeholder="cantidad_cuotas">
                                    <p id = "ingresodeclarado" class="oculto">  no cumple</p>
                            </div>
                        
                            <div class="oculto">
                                <input type="float" name="zona" value = "{{zona}}" class="form-control">
                            </div>
                         
                            <div class="oculto">
                                <input type="float" name="fraccion"  value = "{{fraccion}}"class="form-control" >
                            </div>
                            <div class="oculto">
                                <input type="float" name="manzana"  value = "{{manzana}}"class="form-control" >
                            </div>
                          
                            <div class="oculto">
                                <input type="float" name="lote" value = "{{lote}}"class="form-control" placeholder="Lote">
                            </div>
                            <div class="form-group">
                                <button class="tbn btn-primary btn-block"> Guardar</button>
                            </div>
                        </form>
                        </card-body>
                    </div>
                </div>
            </div>
        </div>
    </div>