<div class="bgded overlay" style="background-image:url('/img/fondogris.jpg');">
    <div id="breadcrumb" class="hoc clear">
        <!-- ################################################################################################ -->
        <ul>
            <li><a href="/links/clientes"> Ir a clientes</a></li>
            <li><a href="/links/clientes"> Ir a cuotas</a></li>
            <li><a href="/cuotas">Ve a cuotas</a></li>
            <li><a href="/pagos">Ir a Pagos</a></li>
            <li><a href="/pagos/pendientes">Aprobaciones de pagos</a></li>
            <li><a href="aprobacion de legajos">aprobacion de legajos</a></li>
            <li><a href="aprobacion de legajos">aprobacion CBU</a></li>
            <li><a href="/aprobaciones/cbu">aprobacion CBU</a></li>
            <li><a href="/cuotas/agregariccgrals"> Agregar ICC</a></li>
        </ul>
    </div>

</div>
{{#each cliente}}

<div style="display: grid;">

    <div class="container p-4">
        <div class="card-header">
						<h3>  Añadir automaticamente</h3>
                        <h3> Zona: {{zona}} Fraccion: {{fraccion}} Manzana: {{manzana}} Lote: {{lote}} </h3>
                        <h4>Cuil/cuit: {{cuil_cuit}}</h4>
					</div>
                    t
        <div class="row">
            <div class="col-md-4 ">
                <div class="card mx-4 x-auto ">
                    <div class="card-body">
                        <form action="/cuotas/addaut" method="POST">
                            <div class="oculto">
                                <input type="float"value = "{{cuil_cuit}}" name="cuil_cuit" class="form-control"
                                    placeholder="cuil_cuit cliente">
                            </div>
                            <div class="">
                                <label for="">ID del lote</label>
                                <input type="float"value = "{{id}}" name="id" class="form-control"
                                    placeholder="cuil_cuit cliente">
                            </div>
                            <div class="form-group">
                                <label for="">Mes inicio de plan</label>
                               {{!--  <input type="float" class="form-control" name="mes" placeholder="Mes"> --}}
                                <select name="mes"  class="custom-select" id="inputGroupSelect01">
                     
                                    <option value="1">Enero</option>
                                    <option value="2">Febrero</option>
                                    <option value="3">Marzo</option>
                                    <option value="4">Abril</option>
                                    <option value="5">Mayo</option>
                                    <option value="6">Junio</option>
                                    <option value="7">Julio</option>
                                    <option value="8">Agosto</option>
                                    <option value="9">'Septiembre</option>
                                    <option value="10">Octubre</option>
                                    <option value="11">Noviembre</option>
                                    <option value="12">Diciembre</option>
                                 </select>
                                 <select name="anio"  class="custom-select" id="inputGroupSelect01">
                     
                                    <option value="2015">2015</option>
                                    <option value="2016">2016</option>
                                    <option value="2017">2017</option>
                                    <option value="2018">2018</option>
                                    <option value="2019">2019</option>
                                    <option value="2020">2020</option>
                                    <option value="2021">2021</option>
                                    <option value="2022">2022</option>
                                    <option value="2023">2023</option>
                                    <option value="2024">2024</option>
                                    <option value="2025">2025</option>
                                    <option value="2026">2026</option>
                                 </select>

                               {{!--  <input type="integer" class="form-control" name="anio" placeholder="Año" > --}}


                            </div>
                             <div class="form-group">
                                 <label for="">Valor del terreno</label>
                                <input type="float" class="form-control" id="monto" name="monto_total" placeholder="monto_total"
                                    > 

                            </div>

                              <div >
                                 <label for="">Valor del Anticipo</label>
                                <input type="float" name="anticipo" placeholder="valor dle anticipo " class="form-control">
                            </div>


                            <div class="form-group">
                                 <label for="">Cantidad Cuotas</label>
                                <input type="float" id="cantidad_cuotas" name="cantidad_cuotas" class="form-control"
                                    placeholder="cantidad_cuotas">
                                    <p id = "ingresodeclarado" class="oculto">  no cumple</p>
                            </div>
                        
                           
                            <div class="oculto">
                                <input type="float" name="zona" value = "{{zona}}" class="form-control">
                            </div>
                         
                            <div class="oculto">
                                <input type="float" name="fraccion"  value = "{{fraccion}}"class="form-control" >
                            </div>
                            <div class="oculto">
                                <input type="float" name="manzana"  value = "{{manzana}}"class="form-control" >
                            </div>
                          
                            <div class="oculto">
                                <input type="float" name="lote" value = "{{lote}}"class="form-control" placeholder="Lote">
                            </div>
                            <div class="form-group">
                                <button class="tbn btn-primary btn-block"> Guardar</button>
                            </div>
                        </form>
                        </card-body>
                    </div>
                </div>
            </div>
        </div>
    </div>

<button class="tbn btn-primary btn-block" id = "comprobar"> comprobar</button>

    <div class="container p-4" style="width: 100%;">
        <div class="row">
            <div class="col mx-4 col-md-4">
                <div class="card  ">
                    <div class="card-body">
                        <form action="/cuotas/add" method="POST">
                            <div class="form-group">
                                <label for="exampleFormControlFile1">cuil/cuit</label>
                                <input type="int" value = "{{cuil_cuit}}"name="cuil_cuit" class="form-control" placeholder={{cuil_cuit}}>
                            </div>
                            <label for="exampleFormControlFile1">Saldo inicial</label>
                            <div class="form-group">
                                <input type="text" class="form-control" name="saldo_inicial" placeholder="Saldo_inicial"> {{!-- autofocus: aparece ya seleccionado el cursor para ingresar form
                                group para separar --}}
                            </div>
                            <label for="exampleFormControlFile1">Saldo Cierre</label>
                            <div class="form-group">
                                <input type="text" name="saldo_cierre" class="form-control" placeholder="Saldo Cierre">
                            </div>
                            <label for="exampleFormControlFile1">Monto</label>
                            <div class="form-group">
                                <input type="text" name="monto" class="form-control" placeholder="Monto">
                            </div>
                            <label for="exampleFormControlFile1">Lote</label>
                            <div class="form-group">
                                <input type="text" name="lote" class="form-control" placeholder="Lote">
                            </div>
                            <div class="form-group">
                                <button class="tbn btn-primary btn-block"> Guardar</button>
                            </div>
                        </form>
                        </card-body>
                    </div>
                </div>
            </div>

        </div>

    </div>
    </tr>
    
    </div>
 {{/each }}

 <form >





<script src="/verificacionc.js"></script>