<div class="bgded overlay" style="background-image:url('/chillaid/images/demo/backgrounds/fondosc.jpeg');">
    <div id="breadcrumb" class="hoc clear">
        <!-- ################################################################################################ -->
        <ul>
            <li><a href="/links/clientes"> Ir a clientes</a></li>
            <li><a href="/links/clientes"> Ir a cuotas</a></li>
            <li><a href="/cuotas">Ve a cuotas</a></li>
            <li><a href="/pagos">Ir a Pagos</a></li>
            <li><a href="/pagos/pendientes">Aprobaciones de pagos</a></li>
            <li><a href="aprobacion de legajos">aprobacion de legajos</a></li>
            <li><a href="aprobacion de legajos">aprobacion CBU</a></li>
            <li><a href="/aprobaciones/cbu">aprobacion CBU</a></li>
            <li><a href="/cuotas/agregariccgrals"> Agregar ICC</a></li>
        </ul>
    </div>

</div>

<div class="container " style="margin: 10px  align=right ">
  <label>Buscar por cuil/cuit</label>
<form action="/links/listacuil_cuit" method="POST" name="cuil_cuit">
  <div class="form-group">
    <input type="text" name="cuil_cuit" placeholder="Ej:34800558" class="form-control" placeholder="Nombre de usuario">
  </div>
  <button class="btn btn-primary btn-block">Buscar</button>
  
   
  </div>
  </div>
  <table>
    <thead>
      <tr>
        <th >#</th>
        <th >Cuota</th>
        <th >Saldo Inicial</th>
        <th >Cuota Con Ajuste</th>
        <th >Pago</th>
        <th >Saldo Real</th>
    


      </tr>
    </thead>
    <tbody>
      <a href="/cuotas/add" class=" btn btn-primary"> Añadir</a></td>
       <a href="/cuotas/ampliar" class=" btn btn-primary"> Ampliar</a></td>
      <tr>
        {{#each cuotas}}
        <th scope="row">{{id}}</th>
        <td> {{nro_cuota}}</td>
        <td> {{saldo_inicial}}</td>
         <td>{{cuota_con_ajuste}}</td>
         <td> {{pago}}</td>
        <td>{{Saldo_real}}</td>






        <td><a href="/cuotas/edit/{{id}}" class=" btn btn-secondary"> Editar </a></td>
         <td><a href="/cuotas/agregar_icc/{{id}}" class=" btn btn-primary"> Agregar ICC</a></td>
        <td><a href="/pagos/realizara/{{cuil_cuit}}" class=" btn btn-primary"> pagar</a></td>
        <td><a href="/cuotas/delete/{{id}}" class=" btn btn-danger"> Borrar</a></td>
      </tr>
      {{else}}
      <div class="col-md-4 mx-auto">
        <div class="card card-body text-center">
          <p> No hay cuotas</p>
          <a href="/cuotas/add"> Añadir</a>
        </div>
      </div>
      {{/each }}
    </tbody>


  </table>

     <table>
          <thead>
            <tr>
              <th>Header 1</th>
              <th>Header 2</th>
              <th>Header 3</th>
              <th>Header 4</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><a href="#">Value 1</a></td>
              <td>Value 2</td>
              <td>Value 3</td>
              <td>Value 4</td>
            </tr>