<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Saldo Inicial</th>
      <th scope="col">Saldo cierre</th>
      <th scope="col">Dni Cliente</th>
    </tr>
  </thead>
  <tbody>
      <a href="/cuotas/add" class=" btn btn-primary"> Añadir</a></td>
    <tr>
        {{#each cuotas}}
      <th scope="row">{{id}}</th>
      <td> {{saldo_inicial}}</td>
      <td>{{saldo_cierre}}</td>
      <td>{{dni}}</td>
   
      <td><a href="/cuotas/edit/{{id}}" class=" btn btn-secondary"> Editar </a></td>
      <td><a href="/pagos/realizara/{{dni}}" class=" btn btn-primary"> pagar</a></td>
      <td><a href="/cuotas/delete/{{id}}" class=" btn btn-danger"> Borrar</a></td>
    </tr>   
    {{else}}
        <div class="col-md-4 mx-auto">
            <div class="card card-body text-center">
                <p> No hay cuotas</p>
                <a href="/cuotas/add"> Añadir</a>
            </div>
        </div>
        {{/each }}
  </tbody>
</table>
