

<div class="container " style="margin: 10px  align=right ">
  <label>Buscar por cuil/cuit</label>
<form action="/links/listacuil_cuit" method="POST" name="cuil_cuit">
  <div class="form-group">
    <input type="text" name="cuil_cuit" placeholder="Ej:34800558" class="form-control" placeholder="Nombre de usuario">
  </div>
  <button class="btn btn-primary btn-block">Buscar</button>
  
   
  </div>
  </div>
  <table>
    <thead>
      <tr>
        <th >#</th>
        <th >Cuota</th>
        <th >Saldo Inicial</th>
        <th >Cuota Con Ajuste</th>
        <th >Pago</th>
        <th >Saldo Real</th>
    


      </tr>
    </thead>
    <tbody>
  {{#with cuotas}}
      <a href="/links/detallecliente/{{0.cuil_cuit}}" class=" btn btn-primary"> Volver al cliente</a></td>
  <a href="/cuotas/ampliar/{{0.cuil_cuit}}" class=" btn btn-primary"> Ampliar</a></td>
 {{/with }}
      <a href="/cuotas/add" class=" btn btn-primary"> Añadir</a></td>
      
      <tr>
        {{#each cuotas}}
        <th style="color:rgb(206, 250, 13)">{{zona}}-F{{fraccion}}-M{{manzana}}-L{{lote}}</th>
        <td> {{nro_cuota}}</td>
        <td> {{saldo_inicial}}</td>
         <td>{{cuota_con_ajuste}}</td>
         <td> {{pago}}</td>
        <td>{{Saldo_real}}</td>






        <td><a href="/cuotas/edit/{{id}}" class=" btn btn-secondary"> Editar </a></td>
         <td><a href="/cuotas/agregar_icc/{{id}}" class=" btn btn-primary"> Agregar ICC</a></td>
        <td><a href="/pagos/realizara/{{cuil_cuit}}" class=" btn btn-primary"> pagar</a></td>
        <td><a href="/cuotas/delete/{{id}}" class=" btn btn-danger"> Borrar</a></td>
      </tr>
      {{else}}
      <div class="col-md-4 mx-auto">
        <div class="card card-body text-center">
          <p> No hay cuotas</p>
          <a href="/cuotas/add"> Añadir</a>
        </div>
      </div>
      {{cuil_cuit}}
       <a href="/cuotas/add/{{cuil_cuit}}" class=" btn btn-primary"> Añadir</a></td>
      {{/each }}
    </tbody>
