<div class="bgded overlay" style="background-image:url('/img/fondogris.jpg');">
    <div id="breadcrumb" class="hoc clear">
        <!-- ################################################################################################ -->
        <ul>
            <li><a href="/links/clientes"> Ir a clientes</a></li>
            <li><a href="/cuotas/lista"> Ir a cuotas</a></li>
            <li><a href="/pagos">Ir a Pagos</a></li>
            <li><a href="/pagos/pendientes">Aprobaciones de pagos</a></li>
            <li><a href="aprobacion de legajos">aprobacion de legajos</a></li>
            <li><a href="aprobacion de legajos">aprobacion CBU</a></li>
            <li><a href="/aprobaciones/cbu">aprobacion CBU</a></li>
            <li><a href="/cuotas/agregariccgrals"> Agregar ICC</a></li>
        </ul>
    </div>

</div>

<div class="submenu">
    <div >   
        <div class=>
            <div class="card text-center">
                <div>
                   

                    <div>
                    <a href="/links/clientes" class="btn btn-primary m-4">
                        Ve a clientes
                    </a>
                    <a href="/cuotas" class="btn btn-primary m-4">
                        Ve a cuotas
                    </a>
                    <a href="/pagos" class="btn btn-success m-4">
                        pagos 
                    </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div><br>




<table >
  <thead>
    <tr>
      <th scope="col">N° Cliente</th>
      <th scope="col">Nombre</th>
   
      <th scope="col">Cuil_cuit</th>
    </tr>
  </thead>
  <tbody>
      <a href="/links/add" class=" btn btn-primary"> Crear Cliente</a></td>
       
    <tr>
        
    {{#each links}}
      <th scope="row">{{id}}</th>
      <td> <a href="/links/detallecliente/{{cuil_cuit}}"> <h3>{{Nombre}}</h3> </a> </td>
  
      <td>{{cuil_cuit}}</td>
      
      <td><a href="/links/edit/{{id}}" class=" btn btn-secondary"> Editar </a></td>
      <td><a href="/cuotas/cuotas/{{cuil_cuit}}" class=" btn btn-primary"> Cuotas</a></td>
      <td><a href="/links/delete/{{id}}" class=" btn btn-danger"> Borrar</a></td>
    </tr>   
    {{else}}
        <div class="col-md-4 mx-auto">
            <div class="card card-body text-center">
                <p> No hay clientes</p>
                <a href="/links/add"> Crear uno</a>
            </div>
        </div>
   

        {{/each }}
  </tbody>
</table>




