<div class="bgded overlay" style="background-image:url('/chillaid/images/demo/backgrounds/01.png');">
  <div id="breadcrumb" class="hoc clear">
    <!-- ################################################################################################ -->
    <ul>
      <li><a href="/usuario1/legajo">Datos de la sociedad</a></li>
      <li><a href="/usuario1/ingresos">Ingresos declarados</a></li>
      <li><a href="/usuario1/infocbu">CBUS declarados</a></li>
      <li><a href="/usuario1/djs">Declaraciones Juradas</a></li>
      <li><a href="/usuario1/contacto">Contacto</a></li>
      <li><a href="/usuario1/">Datos adicionales</a></li>

    </ul>
    <!-- ################################################################################################ -->
  </div>
</div>


<section id="services" class="hoc container clear">
  <!-- ################################################################################################ -->

  <div class="sectiontitle">

    <h6 class="heading font-x2">CBUs Declarados</h6>
    <p class="nospace font-xs">P = Pendiente
      A = Aprobado
    </p>
  </div>
  <ul class="nospace group elements elements-three">
     {{#each cbu}}
    <li class="one_third">
      <article><a href="#"><i class="fas fa-hourglass-half"></i></a>
 
        <div>
        
      
            
              
                <div class="card-body">
                  <h3> {{ descripcion }}</h3>
                  <h5>CBU Numero:{{ numero }}</h5>
                  <h5>Estado: {{ estado }}</h5>

                  <a href="/links/clientes" class="btn btn-primary m-4">
                    Eliminar
                  </a>
                  <a href="/usuario1/cbu" class="btn btn-primary m-4">
                    Asociar
                  </a>

                </div>
              
            
        
        </div>
        
       
      </article>
    </li>
    {{else}}
     <li class="one_third">
      <article><a href="#"><i class="fas fa-hourglass-half"></i></a>
        <div class="container m-4">
          <div class="row">
            <div class="col-md-4 mk-auto">
              <div class="card text-center">
                <div class="card-body">
                  <h3>No hay CBUS Asociados</h3>

                  <a href="/usuario1/cbu" class="btn btn-primary m-4">
                    Asociar nuevo CBU
                  </a>

                </div>
              </div>
            </div>
          </div>
        </div>

          </article>
    </li>
 {{/each }}
  </ul>
  <!-- ################################################################################################ -->
</section>




<div class="alinear">
  <nav id="menuizquierda">
    <div class="encabezado">
      <h3> Legajo</h3>
    </div>

    <ul class="list-unstyled">
      <li><a href="/usuario1/legajo">Datos de la sociedad</a></li>
      <li><a href="/usuario1/ingresos">Ingresos declarados</a></li>
      <li><a href="/usuario1/infocbu">CBUS declarados</a></li>
      <li><a href="/usuario1/djs">Declaraciones Juradas</a></li>
      <li><a href="/usuario1/contacto">Contacto</a></li>
      <li><a href="/usuario1/">Datos adicionales</a></li>
    </ul>
  </nav>
  <div class="container">
    <h2>Ingresos declarados</h2>
    <h6>Estado P= Pendiente</h6>
    <h6>Estado A= Aprobado</h6>

    {{#each cbu}}
    <div class="container m-4">
      <div class="row">
        <div class="col-md-4 mk-auto">
          <div class="card text-center">
            <div class="card-body">
              <h3> {{ descripcion }}</h3>
              <h5>CBU Numero:{{ numero }}</h5>
              <h5>Estado: {{ estado }}</h5>

              <a href="/links/clientes" class="btn btn-primary m-4">
                Eliminar
              </a>
              <a href="/usuario1/cbu" class="btn btn-primary m-4">
                Asociar
              </a>

            </div>
          </div>
        </div>
      </div>
    </div>
    {{else}}
    <div class="container m-4">
      <div class="row">
        <div class="col-md-4 mk-auto">
          <div class="card text-center">
            <div class="card-body">
              <h3>No hay CBUS Asociados</h3>

              <a href="/usuario1/cbu" class="btn btn-primary m-4">
                Asociar nuevo CBU
              </a>

            </div>
          </div>
        </div>
      </div>
    </div>
    {{/each }}





  </div>


  </nav>