
<button type="button" class="btn btn-primary btn-lg">Cuotas pagadas</button>
<button type="button" class="btn btn-danger btn-lg">Cuotas por pagar </button>


<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Saldo Inicial</th>
      <th scope="col">Saldo cierre</th>
      <th scope="col">Nro Cliente</th>
      <th scope="col">Monto</th>
    </tr>
  </thead>
  <tbody>
       
    <tr>
        {{#each cuotas}}
      <th scope="row">{{id}}</th>
      <td> {{saldo_inicial}}</td>
      <td>{{saldo_cierre}}</td>
      <td>{{id_cliente}}</td>
      <td>{{monto}}</td>
      
  
    </tr>   
    {{else}}
        <div class="col-md-4 mx-auto">
            <div class="card card-body text-center">
                <p> No hay cuotas</p>
            </div>
        </div>
   

        {{/each }}
  </tbody>
</table>

