<main class="hoc container clear"></main>

  {{#if faltantes.habil }}
  <div class="alert alert-primary" role="alert">
    <i class="fa-solid fa-circle-info"></i> Aun te quedan confirmar los siguientes comprobantes:
    {{faltantes.Recibo_sueldo}} {{faltantes.Dni}} {{faltantes.ConstAFIP}} {{faltantes.Domicilio}} {{faltantes.Estatuto}}
    {{faltantes.Actaorgano}} {{faltantes.Balance}}
    {{faltantes.DjIVA}} {{faltantes.Djprovision}} {{faltantes.djdatospers}} {{faltantes.djcalidadpers}}
    {{faltantes.djorigen}} <a href="/usuario1/legajo" class="alert-link">ir a Legajos</a>
  </div>
  {{/if}}
<div class="bgded overlay" style="background-image:url('/chillaid/images/demo/backgrounds/fondosc.jpeg');">

<a href="/usuario1/notificaciones/" class="btn btn-success m-4">Notificaciones <i
      class="fas fa-bullhorn"></i></a>
    <div id="breadcrumb" class="hoc clear">
        <!-- ################################################################################################ -->
        <ul>
            <li><a href="/usuario1/cuotas/"><h4>Cuotas</h4> </a></li>
            <li><a href="/usuario1/subir"><h3>Transferencias</h3></a></li>
            <li><a href="/usuario1/legajo"><h4>Legajo</h4></a></li>
            <li><a href="/usuario1/cbu"><h4>CBU</h4></a></li>
            <li><a href="/usuario1/pagos"><h4>Pagos</h4></a></li>
    

        </ul>
        <!-- ################################################################################################ -->
    </div>
</div>
<br><br><br><br><br><br>
{{#each cliente}}
<h1>{{nombre}}</h1>
{{/each }}
<br><br><br><br><br><br>
<div class="wrapper row3" style="background-color: aliceblue;">
  
<section id="introblocks">
      <ul class="nospace group btmspace-80 elements elements-four" for >
        <li class="one_quarter">
          <article><a href="/usuario1/cuotas/"><i class="fas fa-chart-bar"></i></a>   
           <h6 class="heading">Consulta tus cuotas</h6>
            <p>Ingresa para ver detalles de las cuotas </p>
          </article>
        </li>
        <li class="one_quarter">
          <article><a href="/usuario1/subirelegir"><i class="fas fa-donate"></i></a>
            <h6 class="heading">Ir a Transferencias</h6>
            <p>Ingresa para ver detalles de las cuotas</p>
          </article>
        </li>
        <li class="one_quarter">
          <article><a href="/usuario1/legajo"><i class="fas fa-address-card"></i></a>
            <h6 class="heading">Ir a legajos</h6>
            <p>Completa el legajo para habilitar los pagos</p>
          </article>
        </li>
        <li class="one_quarter">
          <article><a href="/usuario1/cbu"><i class="fas fa-user-friends"></i></a>
            <h6 class="">Asocia un CBU</h6>
            <p>Recuerda que los CBUS de pagos deben estar declarados</p>
          </article>
        </li>

        

      </ul>
    </section>
</div>

</main>
</div>

<input type="text"  id="probando" >





  <footer class="w-100 py-4 flex-shrink-0">
    <div class="container py-4">
      <div class="row gy-4 gx-5">
        <div class="col-lg-4 col-md-6">
          <h5 class="h1 text-white">Datos confidenciales</h5>
          <p class="small text-muted">Todos los datos son privados y declaraciones identificadas</p>
          <p class="small text-muted mb-0">&copy; Copyrights. All rights reserved. <a class="text-primary"
              href="#">fideicomisosc.com</a></p>
        </div>
        <div class="col-lg-2 col-md-6">
          <h5 class="text-white mb-3">Accesos </h5>
          <ul class="list-unstyled text-muted">
            <li><a href="/usuario1/legajo">Legajo</a></li>
            <li><a href="/usuario1/cbu">Asociar CBU</a></li>
            <li><a href="#">Get started</a></li>
            <li><a href="#">FAQ</a></li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-6">
          <h5 class="text-white mb-3">No sabes como pagar?</h5>
          <ul class="list-unstyled text-muted">
            <li><a href="#">Ir a preguntas frecuentes</a></li>
          </ul>
        </div>
        <div class="col-lg-4 col-md-6">
          <h5 class="text-white mb-3">Consultas personalizadas</h5>
          <p class="small text-muted">Evianos tu consulta </p>
          <form action="#">
            <div class="input-group mb-3">
              <input class="form-control" type="text" placeholder="Enviar Sugerencia" aria-label="Recipient's username"
                aria-describedby="button-addon2">
              <button class="btn btn-primary" id="button-addon2" type="button"><i
                  class="fas fa-paper-plane"></i></button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </footer>

</body>