<div class="bgded overlay" style="background-image:url('/chillaid/images/demo/backgrounds/fondosc.jpeg');">
<a href="/usuario1/notificaciones/" class="btn btn-success m-4">Notificaciones <i
      class="fas fa-bullhorn"></i></a>
    <div id="breadcrumb" class="hoc clear">
        <!-- ################################################################################################ -->
        <ul>
            <li><a href="/usuario1/cuotas/"><h4 style="color: aqua;">Cuotas</h4> </a></li>
            <li><a href="/usuario1/subir"><h3>Transferencias</h3></a></li>
            <li><a href="/usuario1/legajo"><h4>Legajo</h4></a></li>
            <li><a href="/usuario1/cbu"><h4>CBU</h4></a></li>
            <li><a href="/usuario1/pagos"><h4>Pagos</h4></a></li>
    

        </ul>
        <!-- ################################################################################################ -->
    </div>
</div>


 <table >
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Fecha</th>
        <th scope="col">Cuota</th>
        <th scope="col">Monto</th>
    

      </tr>
    </thead>
    <tbody>
   
       <a href="/usuario1/cuotasamp" class=" btn btn-primary"> Ampliar</a></td>
      <tr>
        {{#each pagos}}
        <th scope="row">{{id}}</th>
         <td> {{mes}} / {{anio}}</td>
        <td> {{nro_cuota}}</td>
        <td> {{monto}}</td>
    
     





      </tr>

       
      {{else}}
      <div class="col-md-4 mx-auto">
        <div class="card card-body text-center">
          <p> No hay cuotas</p>
          
        </div>
      </div>
 
    </tbody>
  </table>
{{/each }}