 
 {{#each lote}}
<form action="/usuario1/subir" method="post">
 <input name="id" type="text"class="oculto" value ="{{id}}">
  <button class="btn btn-success "> {{zona}}F{{fraccion}}M{{manzana}} L{{lote}}</button>
</form>
 {{/each}}
