 <table>
    <thead>
      <tr>
        <th >cuil_cuit</th>
        <th >Cuota</th>
    
    


      </tr>
    </thead>
    <tbody>

      <a href="/cuotas/add" class=" btn btn-primary"> Añadir</a></td>
      
      <tr>
        {{#each usuarios}}
        <th style="color:rgb(206, 250, 13)">{{cuil_cuit}}</th>
        <td> {{nro_cuota}}</td>
      

        <td><a href="/chats/conversacion/{{cuil_cuit}}" class=" btn btn-danger"> Ver</a></td>
      </tr>
      {{else}}
      <div class="col-md-4 mx-auto">
        <div class="card card-body text-center">
          <p> No hay cuotas</p>
          <a href="/cuotas/add"> Añadir</a>
        </div>
      </div>
      {{cuil_cuit}}
       <a href="/cuotas/add/{{cuil_cuit}}" class=" btn btn-primary"> Añadir</a></td>
      {{/each }}
    </tbody>